{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block estilos %}
    {{ form_stylesheet(form) }}
{% endblock %}


{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}


{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Prestamo'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

    <div class="titulo">
        <h1>Nueva Solicitud de Prestamo</h1>
    </div>

<form class="well" action="{{ path('prestamo_create') }}" method="post" {{ form_enctype(form) }}>
    <div>
        {{ form_label(form.equipoPrestamo) }}
        {{ form_errors(form.equipoPrestamo) }}
        {{ form_widget(form.equipoPrestamo) }}
    </div>
    <div>
        {{ form_label(form.cantidad) }}
        {{ form_errors(form.cantidad) }}
        {{ form_widget(form.cantidad) }}
    </div>
    <div>
        {{ form_label(form.fechaPrestamo) }}
        {{ form_errors(form.fechaPrestamo) }}
        {{ form_widget(form.fechaPrestamo) }}
    </div>
    <div>
        {{ form_label(form.fechaDevolucion) }}
        {{ form_errors(form.fechaDevolucion) }}
        {{ form_widget(form.fechaDevolucion) }}
    </div>
    <div>
        {{ form_label(form.esInterno) }}
        {{ form_errors(form.esInterno) }}
        {{ form_widget(form.esInterno) }}
    </div>
    {% if is_granted('ROLE_SUPERADMIN') %}
    <div>
        {{ form_label(form.esAprobado) }}
        {{ form_errors(form.esAprobado) }}
        {{ form_widget(form.esAprobado) }}
    </div>
    <div>
        {{ form_label(form.cantidadAprobada) }}
        {{ form_errors(form.cantidadAprobada) }}
        {{ form_widget(form.cantidadAprobada) }}
    </div>
    {% endif %}
    
    
    <script>
var $equipo = $('#hap_equiposbundle_prestamo_equipoPrestamo');
// When sport gets selected ...
$equipo.change(function() {
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  
  data[$equipo.attr('name')] = $equipo.val();
  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
      // Replace current position field ...
      alert('hola');
      $('#hap_equiposbundle_prestamo_cantidad').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#hap_equiposbundle_prestamo_cantidad')
      );
      // Position field now displays the appropriate positions.
    }
  });
});
</script>
    
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('prestamo') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}