{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Servidores'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Servidores</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Ip</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.ip }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Descripcion</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.descripcion }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Sistema Operativo</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.so }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Virtualizacion</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.virtualizacion }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Memoria</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.memoria }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Disco</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.disco }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Cpu</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.cpu }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('servidores') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('servidores_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('servidores_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}